<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #err{
            font-size:3cm;
            font-weight: 800;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        #stn{
            font-size: 1cm;
            font-weight: 200;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        button{
            width: 150px;
            padding: 10px;
            border: none;
            border-radius: 5px; 
            background: #a32727;
            font-size: 16px;
            color: #fff;
            cursor: pointer;
        }
    </style>
    <title>Error</title>
</head>
<body>
            <center id="err">ERROR</center>
            <center id="stn">Something is wrong with the email address entered or it is an error at the server side!! </center>
            <center><a href="/send"><button>Click to go back</button></a></center>
</body>
</html>